
.ul-test1 {
    background-color: blue;
    width: 20%;
    color: white;
}

.ul-test2 li {
    list-style: none;
}
.a-test2 a{
    text-decoration: none;

}
.a-test3 a {
    color: #000000;
    text-decoration: none;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
@media screen and (max-width:480px) {
    p,.ul-test2,.a-test1,.a-test2,.a-test3 {
        text-align: center;
    }
    
    .ul-test1 {
        margin: 0 auto;
        width: 46%;
    }
.ol-test {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.ul-test2 {
    padding: 0;
}
li,a {
    font-size: 20px;
}
}